<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature android:name="android.hardware.camera.any" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartCameraAI"
        tools:replace="android:allowBackup,android:icon,android:roundIcon,android:label,android:dataExtractionRules,android:fullBackupContent"
        tools:targetApi="31">

        <!-- Màn hình Đăng nhập (Launcher) -->
        <activity
            android:name=".Login"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Màn hình Đăng ký -->
        <activity
            android:name=".Register"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- Màn hình Đổi mật khẩu -->
        <activity
            android:name=".ChangePasswordActivity"
            android:exported="false" />

        <!-- Màn hình Chỉnh sửa hồ sơ -->
        <activity
            android:name=".EditProfileActivity"
            android:exported="false" />

        <!-- Màn hình Quét AI -->
        <activity
            android:name=".ScanActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- Màn hình Lịch sử quét -->
        <activity
            android:name=".HistoryActivity"
            android:exported="false" />

        <!-- Màn hình Chính -->
        <activity
            android:name=".MainActivity"
            android:exported="true" />

    </application>

</manifest>